# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for data science.
- List commonly used libraries for data science.
- Show an example of an arithmetic operation.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. TensorFlow
3. SciPy
4. Scikit-Learn

| Data Science Tools|
|-------------------|
|ggplot2|
|NumPy|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ali Daher